.date-center{
    display: flex;
    justify-content: center;
    background: #DCF3D4;
    box-shadow: 4px 2px 5px gray;
}

.artist-align{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
}

.artist-spacer{
    padding: .75em;
    margin: .25em;
    background-color: antiquewhite;
    box-shadow: 4px 2px 5px gray;
}

.button{
    padding: 1em;
}

h2:hover{
    cursor: pointer;
}
